/***
Jecmas - website template styling
Designed by - Paul Eshun
Date - March 2020
***/

/*
-----------------------
Fonts
-----------------------
*/





/*global settings*/
*{
	margin: 0;
	padding: 0;
    border: none;
    outline: none;
    line-height: inherit;
}

body
{
font-size:15px;
color:#47425d !important;
line-height:1.7em;
font-weight:normal;
background:#ffffff;
/*-webkit-font-smoothing: antialiased;*/
/*-moz-font-smoothing: antialiased;*/
font-family: 'Raleway', sans-serif;
}

/*links items*/
a
{
  text-decoration: none !important;
    cursor: pointer;
    color: #5d807c;
    font-family: 'Raleway', sans-serif;
}

a:hover,
a:focus,
a:visited,
a:active{
	text-decoration:none;
	outline:none;
}

/*span tags*/
#left
{
    color: #5d807c;
}
#right
{
   color: #47425d; 
}

/*section title*/
#sec-title::before
{
    content: '';
    background: #5d807c;
    height: 5px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(75px);
}

#sec-title::after
{
    content: '';
    background: #142c50;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(7px);
}

/*text title*/
.text-primary
{
    color: #142c50 !important;
    text-align: center;
    text-transform: capitalize;
}
.text-white
{
    color:#fff !important;
    text-align: center;
    text-transform: capitalize;
}
.text-black
{
    color:#000 !important;
    text-align: left;
    text-transform: capitalize;
}

/*headers*/
h1,h2,h3,h4,h5,h6 
{
	position:relative;
	font-weight:normal;
	margin:0px 0px 15px;
	background:none;
	line-height:1.25em;
    font-family: 'Roboto Slab', sans-serif;
}

h1
{
   font-size:  48px;
}
h2{
    font-size:  38px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
h6{
    font-size: 12px;
}

/*inputs*/
input,select,button{
	font-family: 'Raleway', sans-serif;
}

textarea{
	overflow:hidden;
	resize: none;	
}

button{
	outline: none !important;
	cursor: pointer;
}

p{
/*
	font-size: 15px;
	line-height: 1.7em;
	font-weight: 400;
	margin: 0 0 15px;
*/
}

.text{
	font-size: 15px;
	line-height: 1.7em;
	font-weight: 400;
	margin: 0 0;
}

/*ul & li items*/
ul, li
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.my-list-style{
	position: relative;
}

.my-list-style li{
	position: relative;
	margin-bottom: 10px;
	line-height: 24px;
	padding-left: 25px;
}

.my-list-style li:before{
	content: "\f00c";
	position: absolute;
	left: 0;
	top: 0;
	font-family: 'Font Awesome 5 Free';
	color: #5d807c;
}


/* button*/
.theme-btn{
	display:inline-block;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.theme-btn i{
	position: relative;
	display: inline-block;
	font-size: 14px;
	margin-left: 3px;
}


/*Button Style One*/
.btn-style-one{
	position: relative;
	display: inline-block;
	text-transform:capitalize;
    margin-top: 20px;
    margin-bottom: 30px;
	border-radius: 0px;
	overflow:hidden;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.btn-style-one .btn-title{
	position: relative;
	display:block;
	font-size: 16px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 700;
	padding: 15px 40px;
	background: #5d807c;
	border-radius:0px;
	z-index:1;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.btn-style-one:hover .btn-title{
	background: #252525;
	color: #ffffff;
}

/*Button Style Two*/
.btn-style-two{
	position: relative;
	display: inline-block;
	text-transform:uppercase;
	border-radius:0px;
	overflow:hidden;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.btn-style-two .btn-title{
	position: relative;
	display:block;
	font-size: 16px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 700;
	padding: 15px 40px;
	background: #142c50;
	border-radius:0px;
	z-index:1;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.btn-style-two:hover .btn-title{
	background: #5d807c;
	color: #ffffff;
}

/*minor button*/
.btn-minor
{
    position: relative;
	display: inline-block;
    margin-top: 40px;
	text-transform:uppercase;
	border-radius: 50px;
    border: none;
	overflow:hidden;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.btn-minor .btn-title
{
    position: relative;
	display:block;
	font-size: 15px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 700;
	padding: 20px 40px 20px 40px;
	background: #123;
	border-radius:0px;
	z-index:1;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.btn-minor:hover .btn-title
{
    background: #fff;
    color: #142c50;
}

/*main button*/
.btn-major
{
    width: 100%;
    display: block;
    text-transform: uppercase;
    transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}
.btn-major .btn-title
{
    background: transparent;
    display: block;
    color: #142c50;
    font-size: 15px;
	line-height: 30px;
	font-weight: 700;
    letter-spacing: 1px;
	padding: 20px 40px 20px 40px;
    border: 2px solid #142c50;
    z-index:1;
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}
.btn-major:hover .btn-title
{
    background: #142c50;
    color: #fff;
    border: 2px solid #fff;
}

/**
===============
Spinner
===============
**/


/*** 
========================================================
	Preloader style
========================================================
***/

/*End off Preloader*/



/*** 
========================================================
	Scroll To Top style
========================================================
***/
.scrollup
{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .7;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #142c50;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover
{
background: #5d807c;
opacity: 1;
}

.scrollup i 
{
font-size: 15px;
position: absolute;
opacity: 1;
color: #fff;
left: 50%;
top: 50%;
margin-top: -7px;
margin-left: -6px;
text-decoration: none;
}


/*end global settings*/



/***
==============
Navigation area 
=================
***/
#nav-bar
{
position: sticky;
top: 0;
z-index:1;
}

.navbar
{
    background-color: #142c50 !important;
    color: #fff !important;
}

/*list items*/
.navbar  .navbar-collapse .navbar-nav > li> a
{
    color: #fff !important;
    float: right;
	text-align: left;
	font-weight: 600; 	
	font-size: 13.2px !important;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin-right: 30px;
    padding: 15px 0px;
    -webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}


/*list items mouse hover*/
.navbar  .navbar-collapse .navbar-nav > li> a:hover
{
    color: #5d807c !important;
}
.navbar .navbar-collapse .navbar-nav > .active > a
{
    color: #5d807c !important;
}
.navbar-brand img
{
    width: 100%;
	height: 40px;
	padding-left: 30px; 
    float: left;
}

.navbar-nav li:last-child
{
/*    padding-right: 50px;*/
/*    margin-right: 50px;*/

}

.navbar-toggler
{
	border: none !important;
    color: #fff !important;
}

/* The progress container (white background) */
.page-scroll-bar .scroll-container {
  width: 100%;
  height: 3px;
  background: #fff;
}

/* The progress bar (scroll indicator) */
.page-scroll-bar .scroll-container .scroll-bar{
  height: 3px;
  background: #5d807c;
  width: 0%;
}

/*end navigation styling*/


/*** 
========================================================
	Homepage style
========================================================
***/

/*slider carousel section*/
#slider
{
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
}
#slider .carousel-inner{
    position: relative;
    z-index: 1;
}

#slider img{
   width: 100%;
    height: 100vh;
/*    display: block;*/
}
.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial !important;
}

.carousel-caption h1
{
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
}

.carousel-caption p{
    font-size: 20px;
    margin-top: 20px;
}

.carousel-caption mark
{
    color: #fff;
    background-color: #142c50;
}
/*carousel indicator*/
.carousel-indicators .active{
    background-color: #5d807c !important;
}
/*end slider carousel*/



/*** 
About Section
***/

#about-section
{
    padding-top: 75px;
    padding-bottom: 75px;
}

#about-section .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
    outline: none;
    
}
#about-section .btn-primary{
    background-color: #5d807c !important;
    color: #fff;
    border: none;
    outline: none;

}

.about-section info
{
    padding-top: 20px;
}

.why-choose-us p
{
    margin-bottom: 2px;
    font-weight: 400;
}

.progress-bar
{
    border-radius: 16px;
    background-color: #5d807c !important;
}
.progress
{
    border-radius: 16px !important;
    margin-bottom: 10px;
}

/*
========================
section divider
========================
*/
.section-separator
{
/*
   position: relative;
	display: block;
	width: 100%;
	border-bottom: 1px solid #e2eef2; 
*/
}
.section-separator::before
{
  
}


/*
====================
services section
====================
*/
#our-services
{
/*
background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(images/background/background-web.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
*/
    padding-top: 75px;
    padding-bottom: 90px;
    background: #afe0ea;
}

.services
{
    margin-top: 5px;
}

.services .service-category h3 a
{
    color: #142c50 !important;
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
   transition: all 300ms ease;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.services .service-category h3 a:hover
{
    color: #5d807c !important;
    
}

.services .service-category .icon
{
    font-size: 25px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 5px solid #142c50;
    color: #142c50;
    border-radius: 50%;
}

.services .service-category
{
/*    padding: 5px 0px 5px 0px;*/
/*    text-align: center;*/
    margin-bottom: 20px;
    transition: all 300ms ease;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.services .service-category::before
{
/*
    box-sizing: border-box;
    height: 50px;
    width: 1px;
    color: aqua;
*/
}

.services .service-category:hover 
{
/*
    background: #356482;
    cursor: default;
    transition: 0.7s;
    color: #ccc;    
*/
}

/*end of services style*/

/*Note*/
.sec-note
{
    padding: 70px 70px 70px 70px;
    background-color: #fff;
}

.sec-note-text{
    font-weight: 700;
    font-size: 22px;
}
/*
================
team styles
================
*/
#our-team
{
    padding-top: 50px;
    padding-bottom: 50px;
/*    color: #555;*/
}


.profile-info{
    margin-top: 25px;
}
.profile-info .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.profile-info .img-box img{
    filter: grayscale(1);
}

.profile-info .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
/*    transition: .6s;*/
}

.profile-info h3
{
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    color: #5d807c !important;
}
.profile-info .team-info .team-title
{
    display: block;
    font-size: 13px;
    font-weight: bold;
    color: #47425d;
/*    margin-top: 15px;*/
}
#our-team .icon{
    height:25px;
    width: 25px;
    color: #219bd9 !important;
    background: #fff;
    padding: 2px;
    border-radius: 50%;
/*    align-content: center;*/
}

.img-box ul{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.img-box ul li{
    padding: 5px;
    display: inline-block;
}

.img-box:hover ul{
    opacity: 1;
}
.img-box ul, .img-box ul li{
    transform: 0.5s;
}


/* 
call to action
*/
#call-to-action
{
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(images/background/background-web.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    color: #fff;
    text-transform: capitalize;
}



/*
advert/pricing hosting
*/
#advert
{
    padding: 90px 0px 110px 0px;
    background: #efefef;
}

.single-price
{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background: #fff;
    transition: 0.5s;
    text-align: center;
}

.single-price:hover
{
    box-shadow: 0 2px 20px #333;
    border-top: 4px solid #5d807c;
}
.caption{
    font-family: 'Arial';
    font-size: 12px;
    letter-spacing: 2px;
    margin: 20px 0 10px 0;
}
.caption::after
{
    content: '';
    background: #1f7099;
    display: block;
    height: 1px;
    width: 80px;
    margin: 5px auto 5px;
}

.price-tag
{
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}
.price-tag span{
    font-size: 20px;
    font-weight: 500;
}
.price-plan{
background-color: #252525;
    display: inline;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.price-content
{
    font-family: 'Arial';
    font-size: 14px;
    color: #979797;
/*    padding-bottom: 50px;*/
}
.price-content ul li
{
    border-bottom: 1px solid #efefef;
    list-style: none;
/*    padding-bottom: 10px;*/
    padding-top: 10px;
}
ul li:last-child{
/*    border: none;*/
}
.price-content strong
{
    display: block;
}


/*it solutions section*/
.solutions-section
{
    padding: 90px 0px 110px;
}

.solutions-section .text-column .upper-title
{
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
}
.text-column .upper-title::before
{
    content: '';
    position: absolute;
left: 0;
bottom: 0;
width: 100%;
border-bottom: 2px solid #5d807c;
}

.solutions-section .text-column .bottom-text
{
   font-weight: 400;
    font-size: 1rem;
    

}


/*begin portfolio styling*/
#portfolio
{
    padding: 70px 0px 90px;
    background: #42576d;
    color: #fff;
}
#portfolio h1
{
    color: #fff !important;
}
#portfolio h1::after
{
    content: '';
    background: #efefef;
    display: block;
    height: 2px;
    width: 50px;
    margin: 20px auto 5px;
}

.project h3,p{
    margin-left: 75px;
}
.project
{
    transition: 0.5s;
    position: relative;
    padding-bottom: 50px;
}

#portfolio .w-portfolio-item-meta
{
    position: absolute;
    bottom: 20px;
    top: 300px;
    padding: 20px;
    margin: 20px;
}
.project-img{
    filter: contrast(50%);
    width: 100%;
    height: 420px;
    padding-bottom: 10px;
}
.project-img:hover
{
    filter: contrast(20%);
}
/*end styling*/



/*new project style*/
#our-works
{
    background: #3c879c;
    color: #fff;
    padding-bottom: 90px;
    padding-top: 90px;
}
#our-works h1{
    color: #fff !important;
/*    padding: 20px;*/
}
#our-works h1::after{
    content: '';
    width: 50px;
    height: 2px;
    background-color: #fff !important;
    display: block;
    margin: 5px auto 5px;
    
}
.div.img {
    margin: 5px;
    border: 1px solid #ccc;
/*    float: left;*/
    width: 100%;
/*    padding-bottom: 20px;*/
}	

div.img:hover {
    border: 2px solid #fff;
}

div.img img {
    width: 100%;
    height: 350px;
}

div.desc {
    padding: 10px;
    text-align: center;
}
div.desc span{
   display: block;
    font-size: 13px;
    font-weight: lighter;
}
#our-works a{
    color: #fff !important;
    text-decoration: none;
}
#our-work a:active, a:hover, a:visited{
    color: #fff !important;
font-weight: bold;
    transition: 0.4s;
}
/*end here*/



/**
================
facts section
================
**/
#facts-section
{
    padding: 40px 0px 40px 0px;
    background: #afe0ea;
}

.fact-item{
    float: left;
    display:  inline;
    width: 100%;
    text-align: center;
    
}
.fact-item .fact-title
{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}
.fact-item .statistic-counter
{
    color: #fff;
    font-weight: 900;
}
.separator-small
{
    background: #5d807c;
    height: 2px;
    width: 30px;
    display: inline-block;
}
.fact-item .fact-bottom
{
    color: #5d807c;
    text-transform: uppercase;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 0px 10px 0px;
}

/*** 
========================================================
	enquiry Section
========================================================
***/

.enquiry-section{
	position:relative;
	padding: 90px 0px 50px;
    background: #ffffff;
}

.enquiry-section .sec-title{
	max-width: 480px;
}

.enquiry-section .sec-title .lower-text{
	color: #222222;
}

.enquiry-section .text-column{
	position: relative;
	margin-bottom: 20px;
}

.enquiry-section .text-column .inner{
	position: relative;
	display: block;
	padding-right: 50px;
}

.service-block-two{
	position: relative;
	margin-bottom: 30px;
}

.service-block-two .inner-box{
	position: relative;
	display: block;
	padding: 8px 0px 0px 125px;
	min-height: 101px;
}

.service-block-two h3{
	position: relative;
	color: #222222;
	text-transform: capitalize;
	margin: 0 0 10px;
}

.service-block-two h3 a{
	color: #222222;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.service-block-two h3 a:hover{
	color: #f74883;
}

.service-block-two .icon-outer{
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 101px;
	height: 101px;
	padding: 20px;
	margin: 0 0;
}

.service-block-two .icon-bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background:#ffffff url('../images/icons/theme-icon-3.png') center center no-repeat;
}

.service-block-two .icon-outer .icon-box{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
}

.service-block-two .icon-outer .icon-box img{
	max-width: 60px;
	max-height: 60px;
}

.service-block-two .text{
	position: relative;
	display: block;
	color: #222222;
}

.enquiry-section .form-column{
	position: relative;
	margin-bottom: 50px;
}

.enquiry-section .form-column .inner{
	position: relative;
	display: block;
	text-align: center;
}

/* Default Form Style */
.default-form{
 	position: relative;
}

.default-form .row{
	margin: 0 -15px;
}

.default-form .form-group{
	position:relative;
	padding: 0 15px;
	margin-bottom: 25px;
}

.default-form .form-group .field-label{
	position:relative;
	display: block;
	color: #333333;
	line-height: 24px;
	text-align: left;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.default-form .form-group:last-child{
	margin-bottom: 0;
}

.default-form .form-group input[type="text"],
.default-form .form-group input[type="email"],
.default-form .form-group input[type="password"],
.default-form .form-group input[type="tel"],
.default-form .form-group input[type="url"],
.default-form .form-group input[type="file"],
.default-form .form-group input[type="number"],
.default-form .form-group textarea,
.default-form .form-group select{
	position: relative;
    display: block;
    height: 52px;
    width: 100%;
    font-size: 15px;
    color: #25283a;
    line-height: 30px;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #e2eef2;
	border-radius:0px;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.default-form .form-group textarea{
	height: 120px;
	padding-top: 12px;
	resize: none;
}

.contact-form .form-group input[type="submit"],
.contact-form .form-group button{
	display:inline-block;
	margin-top:5px;
}

.default-form .form-group input[type="text"]:focus,
.default-form .form-group input[type="email"]:focus,
.default-form .form-group input[type="password"]:focus,
.default-form .form-group input[type="tel"]:focus,
.default-form .form-group input[type="url"]:focus,
.default-form .form-group input[type="file"]:focus,
.default-form .form-group input[type="number"]:focus,
.default-form .form-group textarea:focus,
.default-form .form-group select:focus,
.form-group .ui-selectmenu-button.ui-button:focus,
.form-group .ui-selectmenu-button.ui-button:active{
	border-color: #5d807c;
}

.default-form ::-webkit-input-placeholder{color: #aaaaaa;}

.default-form ::-moz-input-placeholder{color: #aaaaaa; }

.default-form ::-ms-input-placeholder{color: #aaaaaa;}

.default-form label.error{
	color: #ff4242;
	font-size:14px;
	text-transform: capitalize;
	text-align:left;
	display:block;
	padding-top:5px;
}

.content-box .default-form label.error{
	color: #ffffff;
	font-size: 16px;
	padding-top: 10px;
}

/*Custom Select*/

.form-group .ui-selectmenu-button.ui-button{
	width:100%;
	font-size:15px;
	font-style:normal;
	height:52px;
	padding:10px 20px;
	line-height:30px;
	font-family: 'Arimo', sans-serif;
	color:#222222;
	border-radius:0px;
	background-color:#ffffff;
	border: 1px solid #e0e0e0;
}

.form-group .ui-button .ui-icon{
	background:none;
	position:relative;
	top:3px;
	text-indent:0px;
	color:#333333;	
}

.form-group .ui-button .ui-icon:before{
	font-family: 'Font Awesome 5 Free';
	content: "\f107";
	position:absolute;
	right:0px;
	top:2px !important;
	top:13px;
	width:10px;
	height:20px;
	display:block;
	color:#666666;
	line-height:20px;
	font-size:16px;
	font-weight:700;
	text-align:center;
	z-index:5;
}

.ui-widget.ui-widget-content{
	border:1px solid #e0e0e0;
	font-family: 'Arimo', sans-serif;
}

.ui-menu .ui-menu-item{
	font-size:14px;
	border-bottom:1px solid #e0e0e0;
}

.ui-menu .ui-menu-item:last-child{
	border:none;	
}

.ui-menu .ui-menu-item-wrapper{
	position:relative;
	display:block;
	padding:9px 20px !important;
	font-size:15px;
	line-height:24px;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.ui-menu .ui-menu-item-wrapper:hover,
.ui-menu .ui-menu-item-wrapper.ui-state-active{
	background: #5d807c;
}

.enquiry-section .form-box{
	position: relative;
	display: block;
    background: #efefef;
	padding: 50px 45px;
}

.enquiry-section .title{
	position: relative;
	margin-bottom: 30px;
}

.enquiry-section .title h3{
	position: relative;
	display: inline-block;
	line-height: 1.2em;
	font-size: 24px;
/*	color: #222222;*/
	text-transform: capitalize;
	font-weight: 700;
	margin: 0 0 10px;
}

.enquiry-section .title h3::after
{
    content: '';
    display: block;
    background: #5d807c;
    height: 2px;
    width: 50px;
    margin: 20px auto 5px;
}
.enquiry-form .row{
	margin: 0 -7px;
}

.enquiry-form .form-group{
	padding: 0 7px;
	margin-bottom: 14px;
}

.enquiry-form form button{
/*	text-transform: none ;*/
	margin-top: 5px;
}



/***
=======================
blog & news section 
========================
***/
#blog-news
{
    background: #ffffff;
    padding: 110px 0 110px 0;
}
.news-section .sub-title
{
    margin-bottom: 70px;
}
.news-section .upper-row{
	position: relative;
	margin-bottom: 20px;
}

.news-block{
	position: relative;
	margin-bottom: 20px;
}

.news-block .inner-box{
	position: relative;
	display: block;
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.07);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.news-block .image-box,
.news-block .image{
	position: relative;
	display: block;
	background: #010101;
	overflow: hidden;
}

.news-block .image-box img{
	position: relative;
	display: block;
	width: 100%;
-	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
}

.news-block .inner-box:hover .image-box img{
	opacity: 0.70;
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.news-block .lower-box{
	position: relative;
	display: block;
	padding: 35px 35px 70px;
	background: #ffffff;
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.04);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.news-block .inner-box:hover{
	box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.10);
}

.news-block .lower-box:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border-bottom: 2px solid #142c50;
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.news-block .inner-box:hover .lower-box:before{
	-ms-transform: scale(1);
	transform: scale(1);
}

.news-block .lower-box .category{
	position: relative;
	color: #142c50;
	font-size: 14px;
	font-weight: 700;
	text-transform: capitalize;
	margin: 0 0 7px;
}

.news-block .lower-box h3{
	position: relative;
	color: #333 !important;
	font-weight: 700;
	margin: 0 0 25px;
}

.news-block h3 a{
	color: #333 !important;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.news-block h3 a:hover,
.news-block .lower-box .meta-info li a:hover{
	color: #5d807c !important;
}

.news-block .text{
/*
	position: relative;
	display: block;
	color: #333 !important;
	margin-bottom: 30px;
*/
}

.news-block .lower-box .meta-info{
	position: relative;
	color: #333 !important;
    font-size: 13px;
    font-style: italic;
    font-family: 'Lato', sans-serif;
}

.news-block .lower-box .meta-info li{
	position: relative;
	float: left;
	margin-right: 31px;
	line-height: 24px;
}

.news-block .lower-box .meta-info li:after{
	content: '';
	position: absolute;
	height: 14px;
	right: -16px;
	border-right: 1px solid #999999;
	top: 50%;
	margin-top: -7px;
}

.news-block .lower-box .meta-info li:last-child:after{
	display: none;
}

.news-block .lower-box .meta-info li a{
	position: relative;
	color: #999999 !important;
}

.news-block .more-link{
	position: absolute;
	left: 0;
	bottom: -30px;
	width: 100%;
	display: block;
	text-align: center;
}

.news-block .more-link a{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	background: #ffffff;
	font-size: 14px;
	color: #5f807c;
	box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.05), 0px 0px 35px 0px rgba(0,0,0,0.05);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.news-block .inner-box:hover .more-link a{
	color: #ffffff;
	background: #5d807c;
	box-shadow: 10px 10px 35px 0px rgba(0,0,0,0.10), 0px 0px 35px 0px rgba(0,0,0,0.10);
}

.news-section .lower-row{
	position: relative;
	margin-bottom: 30px;
}

.news-section .lower-row .row{
	margin: 0px -40px;
}


/***
=======================
testimonials section 
========================
***/

#clients-testimonial
{ 
    background: #afe0ea;
    padding: 75px 0px 25px 0px;
}
#clients-testimonial .upper-title{
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;
}

.testimonial{
    margin: 0px 20px 40px 0px;
    padding: 20px;
}
.testimonial .testimonial-content{
    padding: 35px 25px 35px 50px;
    margin-bottom: 35px;
    background: #fff;
    position: relative;
}

.testimonial .testimonial-content:after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    bottom: -10px;
    left: 22px;
    transform: rotate(45deg);
}
.testimonial-content .testimonial-icon
{
    width: 50px;
    height: 45px;
    background: #5d807c;
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 42px;
    position: absolute;
    top: 37px;
    left: -19px;
}

.testimonial-content .testimonial-icon:before{
    content: "";
    border-bottom: 16px solid #5d807c;
    border-left: 18px solid transparent;
    position: absolute;
    top: -16px;
    left: 1px;
}
.testimonial .description{
    font-style: italic;
    margin: 0;
}
.testimonial .title{
    display: block;
    font-weight: 700;
    color: #5d807c;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}
.testimonial .post{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
}
.testimonial .work{
    display: inline-block;
    font-size: 13px;
    font-style: italic;
}
.owl-theme .owl-controls{
    margin-top: 20px;
}
.owl-theme .owl-controls .owl-page span{
    background: #ccc;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #5d807c;
}




/***
===============
footer styling
===============
***/
.footer-top
{
   background: #fff;
    padding: 50px 0px 10px 0px;
}
.footer-top .column{
    margin: 40px 0;
}
.footer-top h3{
    font-weight: 600;
}

.footer-top .contact-text .info{
    padding: 7px;
}
.footer-top .contact-text .info .fa{
    padding: 5px;
    color: #5d807c;
}
.footer-top .social-icons ul li{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-top .social-icons ul li a i
{
     background-color: #777;
    z-index: 1;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color:#fff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}
.footer-top .social-icons ul li a:hover i{
    background-color: #5d807c;
}

.s-info li:before
{
/*    content: '\f00c';*/
/*    font-family: 'Font Awesome 5 Free';*/
/*    color: #5d807c;*/
}
.specialty .s-info .check
{
    color: #5d807c;
    margin: 5px;
}

.footer-bottom
{
    background: #252525;
    padding: 10px;
    color: #777;
}
.footer-bottom p{
    font-size: 14px;
    padding-top: 5px;
}
.footer-bottom a{
    text-decoration: none;
    font-weight: bold;
}
/*end*/
/*---------------*/





/**
=============
ABOUT PAGE
==============
**/

/*top banner*/



/*about-us information*/
#about-us
{
    background: #fff;
    font-size: 16px;
    color: #333;
    padding-top: 20px; 
    padding-bottom: 20px;
}
#about-divider{
    background: #47425d;
    width: auto;
    max-height: 220px;
    padding: 20px;
    border-bottom: 2px solid #fff;
    color: #ccc;
    font-size: 20px;
}

.page-banner
{
    background: #123;
    background-image: url(images/banner/banner-sydney.jpg);
    position: relative;
    color: #fff;
    z-index: 1;
}
.page-banner .title-box h1
{
    color: #fff;
}

.page-banner .inner
{
    position: relative;
    display: block;
    padding: 100px 0px 120px;
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 120px;
    padding-left: 0px;
}
.page-banner .bottom-curve
{
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 78px;
    background-image: url('../images/banner/banner-curve.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 100%;
    z-index: 2;
}



/*get in touch styling*/
#contact
{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form{
    padding: 15px;
}
.form-control{
    border-radius: 0 !important;
    border: none !important;
}
::placeholder{
    color: #999 !important;
}

.contact-info{
/*    padding: 15px;*/
}
#contact h3{
/*    margin-left: 15px;*/
    text-align: left;
}

.follow{
    background: #fff;
    padding: 20px;
    margin: 20px;
}

.contact-info i{
    margin: 10px;
    color: #1f7099;
    font-weight: bold;
    text-decoration: none;
}
/*end*/

/**
================
CONTACT US PAGE
================
**/



/**
=================
SERVICES PAGE
=================
**/


/***
=================
TEAM MEMBERS PAGE
================
***/
#team-section
{
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #ffffff;
}
#team-section .row{
    margin-top: 30px;
}
#team-section .col-md-4{
    margin: 40px auto;
}
#team-section h1{
/*    color: #fff !important;*/
}
#team-section h1::after{
    content: '';
    background: #5d807c;
    display: block;
    height: 2px;
    width: 50px;
    margin: 5px auto 5px;
}

.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;
/*    border-radius: 2%;*/
   
}
.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile img{
    top: -60px;
    position: absolute;
/*    position: relative; */
/*    display: block;*/
    left: calc(50% - 60px);
    border: 5px solid #efefef;
    transition: all 1000ms ease;
    transition-property: all;
    transition-duration: 1000ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.profile h3{
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #1f7099;
}
blockquote{
    color: #333;
    font-size: 15px;
/*    line-height: 30px;*/
}

blockquote::before
{
    content: '\93';
    font-size: 70px;
    color: #1f7099;
    position: relative;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}
blockquote::after
{
    content: '\94';
    font-size: 70px;
    color: #1f7099;
    position: relative;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}
.profile p{
    font-size: 14px;
    color: #979797;
    font-weight: bold;
    font-style: italic;
/*    margin-top: 4px;*/
}
.profile span{
    font-size: 13px;
    color: #333;
    font-weight: normal;
    font-style: italic;
}
.profile:hover{
/*    border: 2px solid #1f7099;*/
    cursor: default;
    transition: 0.5s;
/*    box-sizing: border-box;*/
     box-shadow: 0 2px 20px #333;
}
/*end here*/